@model DZ_VILLAGEFUND_WEB.Models.AccountBudgetCenter
@{
    ViewData["Title"] = "สร้างใหม่";
}

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="/Home/Index">หน้าหลัก</a></li>
    <li class="breadcrumb-item"><a href="/ElectronicProjects/StructureCenterIndex">ชื่อแผนงาน/โครงการ สำหรับสำนักงานกองทุนหมู่บ้าน</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
</ol>

<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2><i class='subheader-icon fal fa-list-alt'></i>  @ViewData["Title"]</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <div class="row">
                        <div class="col-lg-12">
                            <form id="JsonForm" enctype="multipart/form-data"
                                  asp-antiforgery="true"
                                  data-bv-message="This value is not valid"
                                  data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                  data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                  data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                                <div class="panel-content">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-label"> ปีงบประมาณ</label>
                                            <select asp-for="BudgetYear" class="form-control col-lg-12 col-md-12 col-sm-12">
                                                @{
                                                    int CurrentBudgetYear = ViewBag.CurrentBudgetYear;
                                                    for (int y = CurrentBudgetYear; (y >= CurrentBudgetYear - 5); y--)
                                                    {
                                                        if (y == CurrentBudgetYear)
                                                        {
                                                            <option selected value="@y">@y</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@y">@y</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-label"><strong> ชื่อแผนงาน/โครงการ</strong> <span style="color:red">*</span></label>
                                            <input type="text" asp-for="AccName" class="form-control col-lg-12 col-md-12 col-sm-12"
                                                   data-bv-notempty="true"
                                                   data-bv-notempty-message="กรุณากรอกข้อมูล" />
                                        </div>

                                        <div class="form-group">
                                            <label class="form-label">กลุ่ม</label>
                                            <select asp-for="LookupValueDivision" asp-items="ViewBag.UserLookupValueDivision"></select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">ฝ่าย</label>
                                            <select asp-for="LookupValueDepartment" asp-items="ViewBag.UserLookupValueDepartment"></select>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-label"><strong> กรอบวงเงินงบประมาณ (บาท)</strong> <span style="color:red">*</span></label>
                                            <input type="text" asp-for="Amount" class="form-control col-lg-12 col-md-12 col-sm-12"
                                                   data-bv-notempty="true"
                                                   data-bv-notempty-message="กรุณากรอกข้อมูล" />
                                        </div>

                                        <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 d-flex flex-row align-items-center m-3 pt-3">
                                            <button class="btn btn-primary ml-auto" type="button" id="Submit"> บันทึก</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <link rel="stylesheet" type="text/css" href="/css/notifications/toastr/toastr.css">
    <link rel="stylesheet" href="~/css/notifications/sweetalert2/sweetalert2.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/select2/select2.bundle.css">
    <link rel="stylesheet" type="text/css" href="/css/formplugins/summernote/summernote.css">
    <script src="~/js/Validation/bootstrapValidator.min.js"></script>
    <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/js/datagrid/datatables/datatables.export.js"></script>
    <script src="~/js/notifications/toastr/toastr.js"></script>
    <script src="~/js/notifications/sweetalert2/sweetalert2.bundle.js"></script>
    <script src="~/js/formplugins/select2/select2.bundle.js"></script>
    <script src="~/js/NumberFormat.js"></script>
    <script src="~/js/formplugins/summernote/summernote.js"></script>
    <script>
        $(function () {
            /* init */
            $('#Qualification').summernote({
                height: 300,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });

            $("#BudgetYear").select2();

            $("#LookupValueDivision,#LookupValueDepartment").select2();

            $('#JsonForm').bootstrapValidator();
            $("#Submit").click(function () {

                $('#JsonForm').data("bootstrapValidator").validate();
                if ($('#JsonForm').data("bootstrapValidator").isValid() == true) {
                    var Data = new FormData($("#JsonForm")[0]);
                    $.ajax(
                        {
                            type: "POST",
                            url: "/ElectronicProjects/FormAddStructureCenter",
                            contentType: false,
                            processData: false,
                            data: Data,
                            success: function (result) {
                                if (result.valid == true) {
                                    toastr.success(result.message);
                                    setTimeout(function () {
                                        window.location.href = "/ElectronicProjects/StructureCenterIndex";
                                    }, 700);
                                }
                                else {
                                    toastr.error('Error! ' + result.message);
                                }
                            }
                        });
                }
            });
        });
    </script>
}
