@model IEnumerable<DZ_VILLAGEFUND_WEB.ViewModels.EProjects.ProjectListViewModel>

<table id="JsonTable" class="table table-bordered table-hover table-striped w-100">
    <thead class="bg-primary-600">
        <tr>
            <th class="text-center" style="width:50px">ลำดับ</th>
            <th class="text-center">รหัสกองทุนหมู่บ้าน/ชุมชน</th>
            <th>ชื่อกองทุนหมู่บ้าน/ชุมชน</th>
            <th>รหัสโครงการ</th>
            <th>โครงการ</th>
            <th class="text-center">ค่าความเสี่ยงด้าน (ด้านกิจกรรม)</th>
            <th class="text-center">ค่าความเสี่ยง (ด้านเวลา)</th>
            <th class="text-center">ความคืบหน้า (ร้อยละ)</th>
        </tr>
    </thead>
    <tbody>
        @{
            int Rows = 1;
            foreach (var Get in Model.OrderBy(o => o.VillageName))
            {
                <tr>
                    <td class="text-center">@Rows.</td>
                    <td class="text-center">@Get.VillageCodeText</td>
                    <td>@Get.VillageName</td>
                    <td>@Get.AccCode</td>
                    <td>@Get.ProjectName</td>
                    <td class="text-center">@Get.RiskActiivity</td>
                    <td class="text-center">@Get.RiskTime</td>
                    <td class="text-right">@Get.Progress.ToString("N")</td>
                </tr>

                Rows++;
            }
        }

    </tbody>
</table>