@model DZ_VILLAGEFUND_WEB.Models.TransactionAccountActivityCenter
@{
    ViewData["Title"] = "สร้างรายการ" + (ViewBag.AccountType == true ? "รับ" : "จ่าย");

}

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="/Home/Index">หน้าหลัก</a></li>
    <li class="breadcrumb-item"><a href="/EAccount/ActCenterIndex">เบิกจ่าย</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
</ol>
<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2><i class='subheader-icon fal fa-list-alt'></i>  @ViewData["Title"]</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <form id="JsonForm" enctype="multipart/form-data" novalidate
                                  asp-antiforgery="true"
                                  data-bv-message="This value is not valid"
                                  data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                  data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                  data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                                <input type="hidden" asp-for="VillageId" value="@ViewBag.VillageId" />
                                <div class="panel-content">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-label"> กลุ่มงาน</label>
                                            @Html.DropDownList("Group", (IEnumerable<SelectListItem>)ViewBag.Group, new { @class = "col-lg-12 col-md-12 col-sm-12" })

                                        </div>
                                        <div class="form-group">
                                            <label class="form-label"> ฝ่าย</label>
                                            @Html.DropDownList("Department", (IEnumerable<SelectListItem>)ViewBag.Department, new { @class = "col-lg-12 col-md-12 col-sm-12"})

                                        </div>

                                        <label style="color:red;margin-top:2rem;font-size:1rem"> @(ViewBag.AccountType == true ? "รายการรับ" : "รายการจ่าย")</label>
                                        <hr />
                                        <div class="form-group">
                                            <label class="form-label"> ชื่อแผนงาน/โครงการ</label>
                                            <select id="AccChartId" name="AccChartId" data-bv-notempty="true" data-bv-notempty-message="กรุณากรอกข้อมูล">
                                            </select>

                                        </div>

                                        @if (ViewBag.AccountType == true)
                                        {
                                            <div class="form-group">
                                                <label class="form-label"> จำนวนเงิน <span style="color:red">*</span></label>
                                                <input type="text" asp-for="Amount" class="col-lg-12 col-md-12 col-sm-12 form-control"
                                                       data-bv-notempty="true"
                                                       data-bv-notempty-message="กรุณากรอกข้อมูล" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                <section id="widget-grid" style="margin-bottom:12px;">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <label class="form-label"> จำนวนที่ขอเบิก <span style="color:red">*</span></label>
                                                            <input type="text" asp-for="Amount" class="form-control"
                                                                   data-bv-notempty="true"
                                                                   data-bv-notempty-message="กรุณากรอกข้อมูล" />
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <label class="form-label"> ยอดใช้จ่ายตามจริง <span style="color:red">*</span></label>
                                                            <input type="text" asp-for="RealAmount" class="form-control"
                                                                   data-bv-notempty="true"
                                                                   data-bv-notempty-message="กรุณากรอกข้อมูล" />
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <label class="form-label"> คงเหลือ </label>
                                                            <input type="number" asp-for="TotalAmout" class="form-control"
                                                                   data-bv-notempty="true"
                                                                   data-bv-notempty-message="กรุณากรอกข้อมูล" disabled />
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        }

                                        <div class="form-group">
                                            <label class="form-label"> สถานะ </label>
                                            <select id="IsFinish">
                                                <option value="0">กำลังดำเนินการ</option>
                                                <option value="1">เสร็จสิ้น</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 d-flex flex-row align-items-center m-3 pt-3">
                                    <button class="btn btn-primary ml-auto" type="button" id="Submit">บันทึก</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <link rel="stylesheet" type="text/css" href="/css/notifications/toastr/toastr.css">
    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/select2/select2.bundle.css">
    <script src="~/js/Validation/bootstrapValidator.min.js"></script>
    <script src="~/js/notifications/toastr/toastr.js"></script>
    <script src="~/js/formplugins/select2/select2.bundle.js"></script>
    <script src="~/js/NumberFormat.js"></script>
    <script>
        $(function () {

            $("#AccChartId").select2();
            $("#BookBankId").select2();
            $("#IsFinish").select2();
            $("#Group").select2();
            $("#Department").select2();
            $("#Receiver").select2();

            $("#Group,#Department").on('change', function () {
                $.get("/EAccount/GetAccBudgetCenterByGroupId", { "Group": $("#Group").val(), "Department": $("#Department").val() }, function (rs) {
                    $("#AccChartId").empty();
                    $.each(rs, function (i, val) {
                        if (val.disabled == true) {
                            $("#AccChartId").append($("<option disabled></option>").attr("value", val.value).text(val.text));
                        } else {
                            $("#AccChartId").append($("<option></option>").attr("value", val.value).text(val.text));
                        }
                    });
                });
            });
            $("#Department").val($("#Department").val()).change();

            var $Date = $("#StartDay, #StartMonth, #StartYear");
            $Date.select2();

            $("#StartMonth").change(function () {
                GetDatInMonth("#StartDay", $("#_StartDay").val(), $("#StartMonth").val(), $("#StartYear").val());
            });
            $("#StartMonth").val($("#StartMonth").val()).change();

            $('#Amount').autoNumeric('init', { aSign: '' });
            $('#RealAmount').autoNumeric('init', { aSign: '' });

            $('#Amount,#RealAmount').on('change', function () {
                let amount = parseFloat($('#Amount').autoNumeric('get'));
                let realAmount = parseFloat($('#RealAmount').autoNumeric('get'));
                let totalAmount = amount - realAmount;
                $('#TotalAmout').val(totalAmount);
            });

            $('#JsonForm').bootstrapValidator();

            $("#Submit").click(function () {
                $('#JsonForm').data("bootstrapValidator").validate();
                if ($('#JsonForm').data("bootstrapValidator").isValid() == true) {
                    $('#Amount').autoNumeric('init', { aSep: '.', aDec: ',', mDec: '0' });
                    $('#RealAmount').autoNumeric('init', { aSep: '.', aDec: ',', mDec: '0' });
                    var Data = new FormData($("#JsonForm")[0]); JsonForm
                    Data.set("IsFinish", $("#IsFinish").val() === '1' ? true : false);
                    Data.set("TotalAmout", $("#TotalAmout").val());
                    Data.set("LookupValueDivision", $("#Group").val());
                    Data.set("LookupValueDepartment", $("#Department").val());
                    $.ajax(
                        {
                            type: "POST",
                            url: "/EAccount/FormAddActTransactionNotAccountBudget",
                            contentType: false,
                            processData: false,
                            data: Data,
                            success: function (result) {
                                if (result.valid == true) {
                                    toastr.success(result.message);
                                    setTimeout(function () {
                                        window.location.href = "/EAccount/ActCenterIndex";
                                    }, 700);
                                }
                                else {
                                    toastr.error('แจ้งเตือน! ' + result.message);
                                }
                            },
                            error: function (error) {
                                if (error.status == "413") {
                                    toastr.error('แจ้งเตือน! ' + "ขนาดไฟล์ต้องไม่เกิน 50MB/1ครั้ง");
                                } else {
                                    toastr.error('แจ้งเตือน! ' + error.status);
                                }
                            }
                        });

                }
            });

            function GetDatInMonth(Result, ForEdit, Month, Year,) {
                $.get("/TimeAttendance/GetDay", { "Day": ForEdit, "Month": Month, "Year": Year }, function (rs) {
                    $(Result).empty();
                    $.each(rs, function (i, val) {
                        if (val.value == ForEdit) {
                            $(Result).append($("<option selected></option>").attr("value", val.value).text(val.text));
                        }
                        else {
                            $(Result).append($("<option></option>").attr("value", val.value).text(val.text));
                        }
                    });
                });
            }
        });

    </script>

}
