@model IEnumerable<DZ_VILLAGEFUND_WEB.ViewModels.EAccount.LedgerReportViewModel>
@{
    decimal Total = 0;
}

<table id="JsonTable" class="table table-bordered table-hover table-striped w-100">
    <thead class="bg-primary-600">
        <tr>
            <th class="text-center" style="width:50px">ลำดับ</th>
            <th class="text-center">วันที่</th>
            <th class="text-center">ผู้รับ</th>
            <th class="text-center">ยอดขอเบิก</th>
        </tr>
    </thead>
    <tbody>
        @{
            int Rows = 1;
            foreach (var Get in Model)
            {
                <tr>
                    <td class="text-center">@Rows.</td>
                    <td class="text-center">@Get.ReceiverDate</td>
                    <td>@Get.Receiver</td>
                    <td class="text-right">@(Get.Amount > 0 ? Get.Amount.ToString("N") : "0.00")</td>
                </tr>

                Rows++;
                Total += Get.Amount > 0 ? Get.Amount : 0;
            }
        }

    </tbody>
    @{
        if (Model.Count() > 0)
        {
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">รวม:</td>
                    <td class="text-right">@Total.ToString("N")</td>
                </tr>
            </tfoot>
        }
    }

</table>