@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<DZ_VILLAGEFUND_WEB.Models.ProjectBudget>
@{
    var Village = ViewBag.Village as List<DZ_VILLAGEFUND_WEB.Models.Village>;
    var Helper = ViewBag.Helper as DZ_VILLAGEFUND_WEB.Helpers.Utility;
    var AccountBudget = ViewBag.AccountBudget as List<DZ_VILLAGEFUND_WEB.Models.AccountBudget>;
    var Province = ViewBag.Province as List<DZ_VILLAGEFUND_WEB.Models.SystemProvince>;
    var District = ViewBag.District as List<DZ_VILLAGEFUND_WEB.Models.SystemDistrict>;
    var SubDistrict = ViewBag.SubDistrict as List<DZ_VILLAGEFUND_WEB.Models.SystemSubDistrict>;
    string[] StatusName = { "ร่าง", "รอตรวจสอบ", "ส่งกลับแก้ไข", "รออนุมัติ", "ไม่อนุมัติ", "อนุมัติ" };
}
<table id="JsonTable" class="table table-bordered table-hover table-striped w-100">
    <thead class="bg-primary-600">
        <tr>
            <th>ที่</th>
            <th>รหัสกองทุน</th>
            <th>ชื่อกองทุนหมู่บ้าน/ชุมชน</th>
            <th>หมู่ที่</th>
            <th>ตำบล/แขวง</th>
            <th>อำเภอ/เขต</th>
            <th>จังหวัด</th>
            <th>รหัสโครงการ</th>
            <th>ชื่อโครงการ</th>
            <th>งบประมาณ</th>
            <th>ประเภท</th>
            <th>วันที่เข้าร่วม</th>
            <th>วันที่เริ่ม</th>
            <th>วันที่สิ้นสุด</th>
            <th>วันที่อนุมัติ	สถานะยื่น</th>
            <th>สถานะอนุมัติ</th>
            <th>วันที่ยื่น</th>
            <th>ผู้ยื่น</th>
            <th>ผู้อนุมัติ</th>
        </tr>
    </thead>
    <tbody>
        @{
            int Rows = 1;
            foreach (var Get in Model)
            {
                <tr>
                    <td>@Rows</td>
                    <td>@Village.Where(w => w.VillageId == Get.VillageId).Select(s => s.VillageCodeText).FirstOrDefault()</td>
                    <td>@Village.Where(w => w.VillageId == Get.VillageId).Select(s => s.VillageName).FirstOrDefault()</td>
                    <td>@Village.Where(w => w.VillageId == Get.VillageId).Select(s => s.VillageMoo).FirstOrDefault()</td>
                    <td>@SubDistrict.Where(w => w.SubdistrictId == Village.Where(w => w.VillageId == Get.VillageId).Select(s => s.SubDistrictId).FirstOrDefault()).Select(s => s.SubdistrictName).FirstOrDefault()</td>
                    <td>@District.Where(w => w.AmphurId == Village.Where(w => w.VillageId == Get.VillageId).Select(s => s.DistrictId).FirstOrDefault()).Select(s => s.AmphurName).FirstOrDefault()</td>
                    <td>@Province.Where(w => w.ProvinceId == Village.Where(w => w.VillageId == Get.VillageId).Select(s => s.ProvinceId).FirstOrDefault()).Select(s => s.ProvinceName).FirstOrDefault()</td>
                    <td>@Get.ProjectCode</td>
                    <td>@Get.ProjectName</td>
                    <td>@Get.Amount.ToString("N0")</td>
                    <td>@AccountBudget.Where(w => w.AccountBudgetd == AccountBudget.Where(w => w.AccountBudgetd == Get.AccountBudgetd).Select(s => s.ParentId).FirstOrDefault()).Select(s => s.AccName).FirstOrDefault()</td>
                    <td>@Helper.getDateThai(Get.SignProjectDate)</td>
                    <td>@Helper.getDateThai(Get.StartProjectDate)</td>
                    <td>@Helper.getDateThai(Get.EndProjectDate)</td>
                    <td>@Helper.getDateThai(Get.ApproveDate)</td>
                    <td>@StatusName[Get.StatusId]</td>
                    <td>@Helper.getDateThai(Get.UpdateDate)</td>
                    <td>
                        @{
                            var CurrentUser = await UserManager.FindByIdAsync(Get.UpdateBy);
                            <text>@CurrentUser.FirstName @CurrentUser.LastName</text>
                        }
                    </td>
                    <td>
                        @{
                            var ApproveUser = await UserManager.FindByIdAsync(Get.ApproveBy);
                            <text>@ApproveUser.FirstName @ApproveUser.LastName</text>
                        }
                    </td>
                </tr>

                Rows++;
            }
        }

    </tbody>
</table>