@model IEnumerable<DZ_VILLAGEFUND_WEB.ViewModels.EAccount.ReportTransAccountBudgetByVillageIndex>
<table id="JsonTable" class="table table-bordered table-hover table-striped w-100">
    <thead class="bg-primary-600">
        <tr>
            <th class="text-center">ที่</th>
            <th>รายการ</th>
            <th class="text-center">โครงการ</th>
            <th class="text-center">ผู้รับโอน</th>
            <th class="text-center">จำนวนเงิน (บาท)</th>
            <th class="text-center">เมื่อวันที่</th>

        </tr>
    </thead>
    <tbody>
        @{
            int Rows = 1;
            foreach (var Get in Model)
            {
                <tr>
                    <td class="text-center">@Rows</td>
                    <td>@Get.Title</td>
                    <td>@Get.AccName</td>
                    <td>@Get.VillageName</td>
                    <td class="text-right">@Get.Amount</td>
                    <td class="text-center">@Get.SenderDate</td>

                </tr>

                Rows++;
            }
        }

    </tbody>
</table>
