@model IEnumerable<DZ_VILLAGEFUND_WEB.ViewModels.EAccount.RootReportTransAccountBudgetActivityByVillageIndex>
<table id="JsonTable" class="table table-bordered table-hover table-striped w-100">
    <thead class="bg-primary-600">
        <tr>
            <th class="text-center">ที่</th>
            <th>โครงการ</th>
            <th class="text-center">จำนวนกิจกรรม</th>
            <th class="text-center">สถานะ</th>
            <th class="text-center">จำนวนเงิน (บาท)</th>
            <th class="text-center">ผู้รับโอน</th>

        </tr>
    </thead>
    <tbody>
        @{
            int Rows = 1;
            foreach (var Get in Model)
            {
                <tr>
                    <td class="text-center">@Rows</td>
                    <td>@Get.ProjectName</td>
                    <td class="text-right">@Get.ActivityCount.ToString("N0")</td>
                    <td>@Get.StatusName</td>
                    <td class="text-right">@Get.Amount</td>
                    <td>@Get.VillageName</td>

                </tr>

                Rows++;
            }
        }

    </tbody>
</table>
