@{
    ViewData["Title"] = "รายงานรายการเบิกจ่ายงบประมาณ";
}

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="/Home/Index">หน้าหลัก</a></li>
    <li class="breadcrumb-item">@ViewData["Title"]</li>
</ol>

<div class="row">
    <div class="col-lg-4 mb-2">
        <select id="CurrentBudgetYear">

            @{
                int CurrentBudgetYear = ViewBag.CurrentBudgetYear;
                for (int y = CurrentBudgetYear + 1; (y >= CurrentBudgetYear - 5); y--)
                {
                    if (y == CurrentBudgetYear)
                    {
                        <option selected value="@y">@y</option>
                    }
                    else
                    {
                        <option value="@y">@y</option>
                    }
                }
            }

        </select>
    </div>

    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2><i class='subheader-icon fal fa-chart-bar'></i>  @ViewData["Title"]</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <div id="JsonData"></div>

                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <link rel="stylesheet" type="text/css" href="/css/notifications/toastr/toastr.css">
    <link rel="stylesheet" media="screen, print" href="~/css/datagrid/datatables/datatables.bundle.css">
    <link rel="stylesheet" href="~/css/notifications/sweetalert2/sweetalert2.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/select2/select2.bundle.css">
    <script src="~/js/Validation/bootstrapValidator.min.js"></script>
    <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/js/datagrid/datatables/datatables.export.js"></script>
    <script src="~/js/notifications/toastr/toastr.js"></script>
    <script src="~/js/notifications/sweetalert2/sweetalert2.bundle.js"></script>
    <script src="~/js/formplugins/select2/select2.bundle.js"></script>
    <script src="~/js/vfs_fonts.js"></script>
    <script>
        //Init
        $("#CurrentBudgetYear").select2();
        $("#OrgIds").select2();
        $("#ProvinceIds").select2();
        $("#StatusId").select2();

        pdfMake.fonts = {
            THSarabun: {
                normal: 'THSarabun.ttf',
                bold: 'THSarabun-Bold.ttf',
                italics: 'THSarabun-Italic.ttf',
                bolditalics: 'THSarabun-BoldItalic.ttf'
            }
        }

        $("#CurrentBudgetYear").on("change", function () {

            $("#JsonData").html('<img  src="/img/loading.gif" width="200">');
            $.get("/EAccount/GetReportChildAccountBudget", { "BudgetYear": $("#CurrentBudgetYear").val() }, function (JsonResult) {
                $("#JsonData").html(JsonResult);
                $('#JsonTable').DataTable({
                    pageLength: 50,
                    responsive: true,
                    dom:
                        "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'B>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    lengthChange: false,
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            text: '<i class="fal fa-file-excel"></i>&nbsp;&nbsp;EXCEL',
                            titleAttr: 'Excel',
                            className: 'btn-success btn-sm mr-1'
                        },
                        {
                            extend: 'pdfHtml5',
                            text: '<i class="fal fa-file-pdf"></i>&nbsp;&nbsp;PDF',
                            pageSize: 'A4',
                            orientation: 'landscape',
                            footer: true,
                            className: 'btn-danger btn-sm mr-1',
                            customize: function (doc) {
                                doc.defaultStyle = {
                                    font: 'THSarabun',
                                    fontSize: 16
                                };

                                doc.content[1].layout = 'Borders';

                                doc.styles.tableHeader.fontSize = 16;
                                doc.styles.tableHeader.fillColor = '#049dab';
                                doc.styles.tableFooter.fontSize = 16;
                                doc.styles.tableFooter.fillColor = '#FFFFFF';
                                doc.styles.tableFooter.color = '#000000';
                                doc.styles.tableBodyOdd.fillColor = '#FFFFFF';
                                doc.styles.tableBodyEven.fillColor = '#FFFFFF';

                                doc.styles.title.fontSize = 20;
                                doc.styles.title.bold = true;

                                var rowCount = doc.content[1].table.body.length;
                                for (i = 1; i < rowCount; i++) {
                                    doc.content[1].table.body[i][0].alignment = 'center';
                                    doc.content[1].table.body[i][0].fillColor = '#f3f3f3';
                                    doc.content[1].table.body[i][1].alignment = 'left';
                                    doc.content[1].table.body[i][2].alignment = 'center';
                                    doc.content[1].table.body[i][3].alignment = 'left';
                                    doc.content[1].table.body[i][4].alignment = 'right';
                                    doc.content[1].table.body[i][5].alignment = 'right';
                                    doc.content[1].table.body[i][6].alignment = 'center';

                                };

                            }
                        }
                    ]
                });
            });
        });
        $("#CurrentBudgetYear").val($("#CurrentBudgetYear").val()).change();

    </script>
}
