@model DZ_VILLAGEFUND_WEB.Models.TransactionVillage
@{
    ViewData["Title"] = "ยื่นคำขอขึ้นทะเบียน";
    var Helper = ViewBag.Helper as DZ_VILLAGEFUND_WEB.Helpers.Utility;
}
<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="/Home/Index">หน้าหลัก</a></li>
    <li class="breadcrumb-item"><a href="/Villages/VillageIndex">ข้อมูลทะเบียนกองทุนหมู่บ้าน</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
</ol>
<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2><i class='subheader-icon fal fa-list-alt'></i>  @ViewData["Title"]</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <form id="JsonForm" enctype="multipart/form-data" novalidate
                                  asp-antiforgery="true"
                                  data-bv-message="This value is not valid"
                                  data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                  data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                  data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                                <div class="panel-content">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-label">รหัสกองทุนหมู่บ้าน </label>
                                            <input type="text" asp-for="VillageCode" class="form-control col-lg-12 col-md-12 col-sm-12"
                                                   data-bv-notempty="true"
                                                   maxlength="10"
                                                   data-bv-notempty-message="กรุณากรอกข้อมูล">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">รหัสนิติบุคคล </label>
                                            <input type="text" asp-for="VillageBbdId" class="form-control col-lg-12 col-md-12 col-sm-12"
                                                   data-bv-notempty="true"
                                                   maxlength="13"
                                                   data-bv-stringlength-min="13"
                                                   data-bv-notempty-message="กรุณากรอกข้อมูล">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">ชื่อนิติบุคคล </label>
                                            <input type="text" asp-for="VillageName" maxlength="13" class="form-control col-lg-12 col-md-12 col-sm-12"
                                                   data-bv-notempty="true"
                                                   data-bv-notempty-message="กรุณากรอกข้อมูล">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">เบอร์โทรศัพท์ </label>
                                            <input type="text" asp-for="Phone" maxlength="10" class="form-control col-lg-12 col-md-12 col-sm-12"
                                                   data-bv-notempty="true"
                                                   data-bv-notempty-message="กรุณากรอกข้อมูล">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">อีเมล (e-mail) </label>
                                            <input type="email" asp-for="Email" class="form-control col-lg-12 col-md-12 col-sm-12"
                                                   data-bv-notempty="true"
                                                   data-bv-notempty-message="กรุณากรอกข้อมูล"
                                                   data-bv-emailaddress="true"
                                                   data-bv-emailaddress-message="อีเมล (e-mail) ไม่ถูกต้อง">
                                        </div>

                                        <div class="form-group">
                                            <label class="form-label"> ธนาคาร</label>
                                            <input type="text" name="BookBankName" id="BookBankName" class="form-control col-lg-12 col-md-12 col-sm-12" maxlength="15"
                                                   data-bv-notempty="true"
                                                   data-bv-notempty-message="กรุณากรอกข้อมูล"
                                                   pattern="^[0-9]*$"
                                                   value="@ViewBag.BankName"
                                                   data-bv-message="เฉพาะตัวเลข">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label"><strong> หมายเลขบัญชี</strong> <span style="color:red">*</span></label>
                                            <input type="text" name="BookBankId" id="BookBankId" class="form-control col-lg-12 col-md-12 col-sm-12" maxlength="15"
                                                   data-bv-notempty="true"
                                                   data-bv-notempty-message="กรุณากรอกข้อมูล"
                                                   value="@ViewBag.BookBankId"
                                                   pattern="^[0-9]*$"
                                                   data-bv-message="เฉพาะตัวเลข">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label"><strong> ชื่อบัญชี</strong> <span style="color:red">*</span></label>
                                            <input type="text" id="BookBankName" name="BookBankName" class="form-control col-lg-12 col-md-12 col-sm-12"
                                                   data-bv-notempty="true"
                                                   value="@ViewBag.BookBankName"
                                                   data-bv-notempty-message="กรุณากรอกข้อมูล" />
                                        </div>

                                        <div class="form-group">
                                            <label class="form-label">
                                                วันที่จัดตั้ง
                                            </label>
                                            <input type="text" id="ViewBbdDate" maxlength="13" class="form-control col-lg-12 col-md-12 col-sm-12"
                                                   data-bv-notempty="true"
                                                   data-bv-notempty-message="กรุณากรอกข้อมูล"
                                                   data-provide="datepicker" data-date-language="th-th"
                                                   value="@ViewBag.BdbDate">
                                            <input type="date" value="BbdDate" maxlength="13" class="form-control col-lg-12 col-md-12 col-sm-12"
                                                   data-bv-notempty="true"
                                                   data-bv-notempty-message="กรุณากรอกข้อมูล" hidden>
                                        </div>
                                        <div class="row">
                                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                <label class="form-label">
                                                    วันที่เริ่มต้นสมาชิก
                                                </label>
                                                <input type="text" id="ViewBbdDate" maxlength="13" class="form-control col-lg-12 col-md-12 col-sm-12"
                                                       data-bv-notempty="true"
                                                       data-bv-notempty-message="กรุณากรอกข้อมูล"
                                                       data-provide="datepicker" data-date-language="th-th"
                                                       value="@ViewBag.StartDate">
                                            </article>
                                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                <label class="form-label">
                                                    วันที่สิ้นสุดสมาชิก
                                                </label>
                                                <input type="text" id="ViewBbdDate" maxlength="13" class="form-control col-lg-12 col-md-12 col-sm-12"
                                                       data-bv-notempty="true"
                                                       data-bv-notempty-message="กรุณากรอกข้อมูล"
                                                       data-provide="datepicker" data-date-language="th-th"
                                                       value="@ViewBag.EndDate">
                                            </article>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                <label class="form-label"> ที่อยู่นิติบุคคล </label>
                                                <input type="text" asp-for="VillageAddress" maxlength="10" class="form-control col-lg-12 col-md-12 col-sm-6"
                                                       data-bv-notempty="true"
                                                       data-bv-notempty-message="กรุณากรอกข้อมูล">
                                            </article>
                                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                <label class="form-label">หมู่ที่ </label>
                                                <input type="number" asp-for="VillageMoo" class="form-control col-lg-12 col-md-12 col-sm-6"
                                                       data-bv-notempty="true"
                                                       data-bv-notempty-message="กรุณากรอกข้อมูล">
                                            </article>

                                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                <label class="form-label"> จังหวัด </label>
                                                <input type="text" value="@ViewBag.Province" maxlength="10" class="form-control col-lg-12 col-md-12 col-sm-6"
                                                       data-bv-notempty="true"
                                                       data-bv-notempty-message="กรุณากรอกข้อมูล">
                                            </article>
                                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                <label class="form-label">อำเภอ/เขต </label>
                                                <input type="text" value="@ViewBag.District" class="form-control col-lg-12 col-md-12 col-sm-6"
                                                       data-bv-notempty="true"
                                                       data-bv-notempty-message="กรุณากรอกข้อมูล">
                                            </article>
                                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                <label class="form-label">ตำบล/แขวง </label>
                                                <input type="text" value="@ViewBag.SubDistrict" class="form-control col-lg-12 col-md-12 col-sm-6"
                                                       data-bv-notempty="true"
                                                       data-bv-notempty-message="กรุณากรอกข้อมูล">
                                            </article>

                                        </div>
                                        <div class="row">
                                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                                <label class="form-label">ไปรษณีย์</label>
                                                <input type="number" asp-for="PostCode" class="form-control col-lg-12 col-md-12 col-sm-4"
                                                       data-bv-notempty="true"
                                                       data-bv-notempty-message="กรุณากรอกข้อมูล">
                                            </article>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            <h3>สมาชิกกองทุนหมู่บ้าน</h3>
                                        </div>
                                        <div class="form-group">
                                            <div id="JsonDataMember">
                                                <table id="JsonTable" class="table table-bordered table-hover table-striped w-100">
                                                    <thead class="bg-primary-600">
                                                        <tr>
                                                            <th class="text-center" style="width:50px">ลำดับ</th>
                                                            <th>รหัสสมาชิก</th>
                                                            <th>ชื่อ-สกุล</th>
                                                            <th>ตำแหน่ง</th>
                                                            <th>สถานะ</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            var Members = ViewBag.Members as IEnumerable<DZ_VILLAGEFUND_WEB.ViewModels.Members.Member>;
                                                            int Row = 1;
                                                            if (Members.Count() > 0)
                                                            {
                                                                foreach (var Village in Members)
                                                                {
                                                                    <tr>
                                                                        <td class="text-center"> @Row. </td>
                                                                        <td> @Village.MemberCode      </td>
                                                                        <td> @Village.FullName     </td>
                                                                        <td> @Village.MemberPosition </td>
                                                                        <td> @Village.MemberStatus </td>
                                                                    </tr>
                                                                    Row++;
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td class="text-center" colspan="5">
                                                                        ---ไม่มีข้อมูล---
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            <h3>ไฟล์แนบ</h3>
                                        </div>
                                        <div id="FileAttachDoc">
                                            <table id="FileDocument" class="table table-bordered table-hover table-striped w-100" style="width:100%">
                                                <thead class="bg-primary-600">
                                                    <tr>
                                                        <th class="text-center" style="width:50px">ลำดับ</th>
                                                        <th>ชื่อเอกสาร</th>
                                                        <th class="text-center">วันที่อัปโหลด</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        var Files = ViewBag.Files as IEnumerable<DZ_VILLAGEFUND_WEB.Models.TransactionFileVillage>;
                                                        int Row2 = 1;
                                                        if (Files.Count() > 0)
                                                        {
                                                            foreach (var File in Files)
                                                            {
                                                                <tr>
                                                                    <td class="text-center">@Row2 .</td>
                                                                    <td> <a href="/uploads/village/@File.GencodeFileName"> @File.FileName</a> </td>
                                                                    <td class="text-center"> @Helper.getDateThai(@File.UpdateDate) </td>
                                                                </tr>
                                                                Row2++;
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td class="text-center" colspan="3">
                                                                    ---ไม่มีไฟล์---
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                                <input asp-for="ProvinceId" hidden />
                                <input asp-for="DistrictId" hidden />
                                <input asp-for="SubDistrictId" hidden />
                            </form>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <link rel="stylesheet" type="text/css" href="/css/notifications/toastr/toastr.css">
    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/select2/select2.bundle.css">
    <script src="~/js/notifications/toastr/toastr.js"></script>
    <script src="~/js/formplugins/select2/select2.bundle.js"></script>
    <script src="~/lib/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/lib/datepicker/bootstrap-datepicker.th.js"></script>
    <script src="~/lib/datepicker/bootstrap-datepicker-thai.js"></script>
    <script>
        $(function () {
            $('form').find(':input:not(:disabled)').prop('disabled', true);
        });
    </script>
}