@model DZ_VILLAGEFUND_WEB.ViewModels.Villages.FormUpdateViewModel
@{
    ViewData["Title"] = "ยืนคำขอเปลี่ยนแปลงข้อมูล";
}

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="/Home/Index">หน้าหลัก</a></li>
    <li class="breadcrumb-item"><a href="/Villages/VillageIndex">ข้อมูลทะเบียนกองทุนหมู่บ้าน</a></li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
</ol>
<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2><i class='subheader-icon fal fa-list-alt'></i>  @ViewData["Title"]</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <div class="row">
                        <div class="col-lg-12">
                            <form id="JsonForm" enctype="multipart/form-data" novalidate
                                  asp-antiforgery="true"
                                  data-bv-message="This value is not valid"
                                  data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                  data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                  data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                                <div class="panel-content">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <span style="color:red;font-size:1rem"> ข้อมูลทั่วไป</span>
                                        <hr />
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label class="form-label">รหัสกองทุน ( 8 หลัก) <span style="color:red">*</span></label>
                                                    <input type="text" asp-for="VillageCodeText" class="form-control col-lg-12 col-md-12 col-sm-12"
                                                           data-bv-stringlength="true"
                                                           data-bv-stringlength-min="8"
                                                           maxlength="8"
                                                           data-bv-stringlength-message="กรุณากรอกข้อมูลให้ครบ 8 หลัก"
                                                           data-bv-notempty="true"
                                                           data-bv-notempty-message="กรุณากรอกข้อมูล"
                                                           pattern="^[0-9]*$"
                                                           data-bv-message="กรุณากรอกเฉพาะตัวเลข">
                                                </div>
                                                <div class="col-lg-6">
                                                    <label class="form-label">รหัสผู้เสียภาษี/เลขนิติบุคคล ( 13 หลัก) <span style="color:red">*</span></label>
                                                    <input type="text" asp-for="VillageBbdId" class="form-control col-lg-12 col-md-12 col-sm-12" maxlength="13"
                                                           data-bv-notempty="true"
                                                           data-bv-notempty-message="กรุณากรอกข้อมูล"
                                                           data-bv-stringlength="true"
                                                           data-bv-stringlength-min="13"
                                                           data-bv-stringlength-message="กรุณากรอกข้อมูลให้ครบ 13 หลัก"
                                                           pattern="^[0-9]*$"
                                                           data-bv-message="กรุณากรอกเฉพาะตัวเลข">
                                                </div>
                                                <div class="col-lg-6">
                                                    <label class="form-label">เลขทะเบียนใบนิติบุคคล <span style="color:red">*</span></label>
                                                    <input type="text" asp-for="VillageBbdCode" class="form-control col-lg-12 col-md-12 col-sm-12"
                                                           data-bv-notempty="true"
                                                           data-bv-notempty-message="กรุณากรอกข้อมูล">
                                                </div>
                                                <div class="col-lg-6">
                                                    <label class="form-label">ชื่อนิติบุคคล <span style="color:red">*</span></label>
                                                    <input type="text" asp-for="VillageName" class="form-control col-lg-12 col-md-12 col-sm-12" ท
                                                           data-bv-notempty="true"
                                                           data-bv-notempty-message="กรุณากรอกข้อมูล">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label class="form-label">เบอร์โทรศัพท์ <span style="color:red">*</span></label>
                                                    <input type="text" asp-for="Phone" maxlength="10" class="form-control col-lg-12 col-md-12 col-sm-12"
                                                           data-bv-notempty="true"
                                                           data-bv-notempty-message="กรุณากรอกข้อมูล"
                                                           data-bv-stringlength="true"
                                                           pattern="^[0-9]*$"
                                                           data-bv-message="กรุณากรอกเฉพาะตัวเลข">
                                                </div>
                                                <div class="col-lg-6">
                                                    <label class="form-label">อีเมล (e-mail) <span style="color:red">*</span></label>
                                                    <input type="email" asp-for="Email" class="form-control col-lg-12 col-md-12 col-sm-12"
                                                           data-bv-notempty="true"
                                                           data-bv-notempty-message="กรุณากรอกข้อมูล"
                                                           data-bv-emailaddress="true"
                                                           data-bv-emailaddress-message="อีเมล (e-mail) ไม่ถูกต้อง">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-label">  วันที่จัดตั้ง<span style="color:red">*</span></label>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <input type="hidden" id="CurrentDay" value="@(Model != null ? Model.BbdDate.Day : DateTime.Now.Day)">
                                                    <select name="Day" asp-items="(IEnumerable<SelectListItem>)@ViewBag.Day" id="Day" style="width:100%;"></select>
                                                </div>
                                                <div class="col-lg-4">
                                                    <input id="CurrentMonth" type="hidden" value="@(Model != null ? Model.BbdDate.Month : DateTime.Now.Month)" />
                                                    <select name="Month" asp-items="(IEnumerable<SelectListItem>)@ViewBag.Month" id="Month" style="width:100%;"></select>
                                                </div>
                                                <div class="col-lg-4">
                                                    <input id="CurrentYear" type="hidden" value="@(Model != null ? Model.BbdDate.Year : DateTime.Now.Year)" />
                                                    <select name="Year" asp-items="(IEnumerable<SelectListItem>)@ViewBag.Year" id="Year" style="width:100%;"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                    <label class="form-label"> ที่อยู่นิติบุคคล </label><span style="color:red">*</span>
                                                    <input type="text" asp-for="VillageAddress" class="form-control col-lg-12 col-md-12 col-sm-6"
                                                           data-bv-notempty="true"
                                                           data-bv-notempty-message="กรุณากรอกข้อมูล">
                                                </article>
                                                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                    <label class="form-label">หมู่ที่ </label>
                                                    <input type="text" asp-for="VillageMoo" class="form-control col-lg-12 col-md-12 col-sm-6" />
                                                </article>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                    <label class="form-label"> จังหวัด </label><span style="color:red">*</span>
                                                    <input type="hidden" id="_ProvinceId" value="@Model.ProvinceId" />
                                                    <select asp-for="ProvinceId" asp-items="(IEnumerable<SelectListItem>)@ViewBag.Province" style="width:100%;"></select>
                                                </article>
                                                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                    <label class="form-label"> อำเภอ/เขต </label><span style="color:red">*</span>
                                                    <input type="hidden" id="_DistrictId" value="@Model.DistrictId" />
                                                    <select asp-for="DistrictId" style="width:100%;"></select>
                                                </article>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                    <label class="form-label"> ตำบล/แขวง </label><span style="color:red">*</span>
                                                    <input type="hidden" id="_SubDistrictId" value="@Model.SubDistrictId" />
                                                    <select asp-for="SubDistrictId" style="width:100%;"></select>
                                                </article>
                                                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                                    <label class="form-label">ไปรษณีย์</label><span style="color:red">*</span>
                                                    <input type="text" asp-for="PostCode" class="form-control col-lg-12 col-md-12 col-sm-4"
                                                           data-bv-notempty="true"
                                                           maxlength="5"
                                                           data-bv-stringlength-min="5"
                                                           data-bv-message="กรุณากรอกข้อมูลให้ถูกต้อง"
                                                           data-bv-greaterthan-message="กรุณากรอกข้อมูลให้ถูกต้อง"
                                                           data-bv-stringlength-message="กรุณากรอกข้อมูลให้ถูกต้อง"
                                                           data-bv-notempty-message="กรุณากรอกข้อมูล" min="1">
                                                </article>
                                            </div>
                                        </div>
                                        <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 d-flex flex-row align-items-center m-3 pt-3">
                                            <button class="btn btn-success ml-auto" type="button" id="Submit"> <i class="fal fa-save"> </i> อัปเดตข้อมูล</button>
                                        </div>
                                    </div>
                                </div>
                                <input asp-for="TransactionVillageId" value="@ViewBag.ReqId" hidden />
                                <input type="hidden" id="VillageId" name="VillageId" value="@ViewBag.VillageId">
                                <input id="CheckRegisered" value="@(ViewBag.CheckRegistered == "0" ? "0" : "1")" hidden />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2><i class='subheader-icon fal fa-user'></i>  ข้อมูลสมาชิก</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="text-right mb-2">
                        <a href="/Members/FormAddMember?TransactionVillageId=@ViewBag.ReqId&VillageId=@ViewBag.VillageId" class="btn btn-success ml-auto" type="button" id="Submit"> <i class="fal fa-plus"> </i> เพิ่มข้อมูลสมาชิก</a>
                        <a href="javascript:void(0)" id="ImportExcel" class="text-right btn buttons-print btn-outline-success btn-sm"><i class="fal fa-upload"></i> นำเข้าข้อมูล</a>
                    </div>
                    <div id="JsonData"></div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-hdr">
                <h2><i class='subheader-icon fal fa-file'></i>  อัปโหลดเอกสาร</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <form id="JsonFormFile" enctype="multipart/form-data" novalidate
                          asp-antiforgery="true"
                          data-bv-message="This value is not valid"
                          data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                          data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                          data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                        <div class="form-group">
                            <label class="form-label">เอกสารแนบ <label style="color:red">(1.ระเบียบข้อบังคับ 2.แนบรูป ที่อยู่ ภูมิลำเนา  ขนาดไฟล์ของเอกสารแนบรวมไม่เกิน 50MB/1ครั้ง )</label></label>
                            <input name="VillageId" value="@ViewBag.VillageId" hidden />
                            <input type="file" class="form-control" name="FileName" id="FileName" multiple
                                   data-bv-notempty="true"
                                   data-bv-notempty-message="กรุณาแนบไฟล์"
                                   accept="image/*, video/*, audio/*, .pdf, .docx, .xlsx, .zip, .rar, .ppt, .pptx" />
                        </div>

                        <div class="panel-content border-left-0 border-right-0 border-bottom-0 d-flex flex-row align-items-center m-3 pt-3">
                            <button class="btn btn-success ml-auto" type="button" id="UploadDoc">อัปโหลด</button>
                        </div>
                    </form>

                    <div id="JsonFileData"></div>

                    <div class="panel-content border-faded border-left-0 border-right-0 border-bottom-0 d-flex flex-row align-items-center m-3 pt-3">
                        <button class="btn btn-success ml-auto" type="button" id="SubmitEdit"> <i class="fal fa-save"> </i> ยื่นแก้ไขข้อมูล</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- form Import -->
<div class="modal fade default-example-modal-right-lg" id="FormImport" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-right modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4"><i class="ni ni-menu"></i> นำเข้าข้อมูล</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><i class="fal fa-times"></i></span> </button>
            </div>
            <div class="modal-body">

                <span id="JsonImportForm"></span>

            </div>
            <div class="modal-footer"> </div>
        </div>
    </div>
</div>

<input type="hidden" name="VillageId" id="VillageId" value="@ViewBag.VillageId">


@section Scripts{
    <link rel="stylesheet" type="text/css" href="/css/notifications/toastr/toastr.css">
    <link rel="stylesheet" media="screen, print" href="~/css/formplugins/select2/select2.bundle.css">
    <link rel="stylesheet" type="text/css" href="/lib/datepicker/datepicker.css">
    <link rel="stylesheet" href="~/css/notifications/sweetalert2/sweetalert2.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/css/datagrid/datatables/datatables.bundle.css">
    <script src="~/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/js/datagrid/datatables/datatables.export.js"></script>
    <script src="~/js/Validation/bootstrapValidator.min.js"></script>
    <script src="~/js/notifications/toastr/toastr.js"></script>
    <script src="~/js/notifications/sweetalert2/sweetalert2.bundle.js"></script>
    <script src="~/js/formplugins/select2/select2.bundle.js"></script>
    <script src="~/lib/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/lib/datepicker/bootstrap-datepicker.th.js"></script>
    <script src="~/lib/datepicker/bootstrap-datepicker-thai.js"></script>
    <script>
        $(function () {

            $('#JsonForm').bootstrapValidator();
            $(".datepicker").datepicker();

            $("#BankCode").select2();

            //Bdb Date
            var $change = $("#Month , #Year");
            $change.change(function () {
                // alert($("#Month").val()+"/////"+$("#Year").val());
                $.get("/TimeAttendance/GetDay", { "Day": $("#Day").val(), "Month": $("#Month").val(), "Year": $("#Year").val() }, function (rs) {
                    $("#Day").empty();
                    $.each(rs, function (i, val) {
                        $("#Day").append($("<option></option>").attr("value", val.value).attr("selected", val.selected).text(val.text));
                    });
                    $("#Day").select2();
                    $("#Day").val($("#CurrentDay").val()).change();
                    $("#Day").change(function () {
                        $("#CurrentDay").val($("#Day").val())
                    });
                });
                $("#Day").val($("#Day").val()).change();
            });
            $("#Month").val($("#CurrentMonth").val()).change();
            $("#Year").val($("#CurrentYear").val()).change();
            //Beuiful date
            var $Date = $("#Day, #Month , #Year");
            $Date.select2();

            //Load Address Form
            $("#ProvinceId").select2();
            $("#ProvinceId").change(function () {
                $.get("/Villages/GetDistrict", { "ProvinceId": $("#ProvinceId").val() }, function (rs) {
                    $("#DistrictId").empty();
                    $.each(rs, function (i, val) {
                        if ($("#_DistrictId").val() == val.value) {
                            $("#DistrictId").append($("<option selected></option>").attr("value", val.value).text(val.text));
                        } else {
                            $("#DistrictId").append($("<option ></option>").attr("value", val.value).text(val.text));
                        }

                    });
                    $("#DistrictId").select2();
                    $("#DistrictId").change(function () {
                        $.get("/Villages/GetSubDistrict", { "AmphurId": $("#DistrictId").val() }, function (rs) {
                            $("#SubDistrictId").empty();
                            $.each(rs, function (i, val) {
                                if ($("#_SubDistrictId").val() == val.value) {
                                    $("#SubDistrictId").append($("<option selected></option>").attr("value", val.value).text(val.text));
                                } else {
                                    $("#SubDistrictId").append($("<option></option>").attr("value", val.value).text(val.text));
                                }
                            });
                            $("#SubDistrictId").select2();

                            $("#SubDistrictId").change(function () {
                                $.get("/Villages/GetPostcode", { "SubDistrictId": $("#SubDistrictId").val() }, function (rs) {
                                    $("#PostCode").val(rs.message);
                                });
                            });
                            $("#SubDistrictId").val($("#SubDistrictId").val()).change();
                        });
                    });
                    $("#DistrictId").val($("#DistrictId").val()).change();
                });
            });
            $("#ProvinceId").val($("#ProvinceId").val()).change();


            //Add Village
            $('#JsonForm').bootstrapValidator();
            $("#Submit").click(function () {
                $('#JsonForm').data("bootstrapValidator").validate();
                if ($('#JsonForm').data("bootstrapValidator").isValid() == true) {
                    var Data = new FormData($("#JsonForm")[0]); JsonForm
                    $.ajax(
                        {
                            type: "POST",
                            url: "/Villages/PostVillageEdit",
                            contentType: false,
                            processData: false,
                            data: Data,
                            success: function (result) {
                                if (result.valid == true) {
                                    toastr.success(result.message);
                                    setTimeout(function () {
                                        window.location.href = "";
                                    }, 700);
                                }
                                else {
                                    toastr.error('Error!' + result.message);
                                    setTimeout(function () {
                                        window.location.href = "";
                                    }, 700);
                                }
                            }
                        });
                }

            });


            // get member
            $("#JsonData").html('<img  src="/img/loading.gif" width="200">');
            $.get("/Members/GetMembers", { "TransactionVillageId": $("#TransactionVillageId").val(), "VillageId": $("#VillageId").val() }, function (JsonResult) {
                setTimeout(function () {
                    $("#JsonData").html(JsonResult);
                    $('#JsonTable').dataTable(
                        {
                            responsive: true,
                            lengthChange: false,
                            dom: "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'lB>>" +
                                "<'row'<'col-sm-12'tr>>" +
                                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                            buttons: [
                                {
                                    extend: 'print',
                                    text: 'สั่งพิมพ์',
                                    titleAttr: 'Print Table',
                                    className: 'btn-outline-primary btn-sm'
                                }
                            ]
                        });

                    //Edit
                    $('#JsonData').on("click", ".edit", function () {
                        const MemberId = $(this).attr("data-val");
                        window.location.href = "/Members/FormEditMember?MemberId=" + MemberId + "&VillageId=" + $("#VillageId").val();
                    });

                    // delete
                    $('#JsonData').on("click", ".delete", function () {
                        const MemberId = $(this).attr("data-val");
                        Swal.fire(
                            {
                                title: "ยืนยันการทำรายการ",
                                text: "คุณต้องการลบรายการนี้ หรือไม่?",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonText: "ยืนยัน",
                                cancelButtonText: "ยกเลิก",
                                closeOnConfirm: false
                            }).then(function (isConfirm) {
                                if (isConfirm.value == true) {
                                    $.get("/Members/Delete", { "MemberId": MemberId }, function (rs) {
                                        if (rs.valid == true) {
                                            toastr.success(rs.message);
                                            setTimeout(function () {
                                                window.location.href = "";
                                            }, 1000);
                                        }
                                        else {
                                            toastr.error('Error!' + rs.message);
                                            setTimeout(function () {
                                                window.location.href = "";
                                            }, 1000);
                                        }
                                    });
                                }
                            });
                    });


                }, 200);
            });
        });


        // file
        $("#JsonFileData").html('<img  src="/img/loading.gif" width="200">');
        $.get("/Villages/GetFileAttachDoc", function (Result) {
            setTimeout(function () {
                $("#JsonFileData").html(Result);

                $('#JsonTable').dataTable(
                    {
                        responsive: true,
                        lengthChange: false,
                        dom: "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'lB>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                        buttons: [
                            {
                                extend: 'print',
                                text: 'สั่งพิมพ์',
                                titleAttr: 'Print Table',
                                className: 'btn-outline-primary btn-sm'
                            }
                        ]
                    });

                // delete
                $('#JsonFileData .deletefile').unbind().click(function () {
                    const TransactionFileId = $(this).attr("data-val");
                    Swal.fire(
                        {
                            title: "ยืนยันการทำรายการ",
                            text: "คุณต้องการลบรายการนี้ หรือไม่?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonText: "ยืนยัน",
                            cancelButtonText: "ยกเลิก",
                            closeOnConfirm: false
                        }).then(function (isConfirm) {
                            if (isConfirm.value == true) {
                                $.get("/Villages/DeleteFile", { "TransactionFileId": TransactionFileId }, function (rs) {
                                    if (rs.valid == true) {
                                        toastr.success(rs.message);
                                        setTimeout(function () {
                                            window.location.href = "";
                                        }, 1000);
                                    }
                                    else {
                                        toastr.error('Error!' + rs.message);
                                        setTimeout(function () {
                                            window.location.href = "";
                                        }, 1000);
                                    }
                                });
                            }
                        });
                });

            }, 200);
        });
        $("#UploadDoc").click(function () {
            let validate = false;
            if ($('#FileName').get(0).files.length != 0) {
                validate = true;
            } else {
                Swal.fire(
                    {
                        title: "ไม่มีไฟล์",
                        text: "กรุณาแนบไฟล์",
                        type: "error",
                        confirmButtonText: "เข้าใจแล้ว",
                        closeOnConfirm: false
                    });
            }
            if (validate) {
                let Data = new FormData($("#JsonFormFile")[0]);
                $.ajax(
                    {
                        type: "POST",
                        url: "/Villages/UploadDoc",
                        contentType: false,
                        processData: false,
                        data: Data,
                        success: function (result) {
                            if (result.valid == true) {
                                toastr.success(result.message);
                                setTimeout(function () {
                                    window.location.href = "";
                                }, 700);
                            }
                            else {
                                toastr.error('Error!' + result.message);
                                setTimeout(function () {

                                }, 700);
                            }
                        },
                        error: function (error) {
                            if (error.status == "413") {
                                toastr.error('แจ้งเตือน! ' + "ขนาดไฟล์ต้องไม่เกิน 50MB/1ครั้ง");
                            } else {
                                toastr.error('แจ้งเตือน! ' + error.status);
                            }
                            setTimeout(function () {

                            }, 1000);
                        }
                    });
            }
        });

        $("#SubmitEdit").click(function () {
            const TransactionVillageId = $("#TransactionVillageId").val();
            $('#JsonForm').data("bootstrapValidator").validate();
            Swal.fire(
                {
                    title: "ยืนยันการทำรายการ",
                    text: "คุณต้องการยื่นแก้ไขกทบ. หรือไม่?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonText: "ยืนยัน",
                    cancelButtonText: "ยกเลิก",
                    closeOnConfirm: false
                }).then(function (isConfirm) {
                    if (isConfirm.value == true && $('#JsonForm').data("bootstrapValidator").isValid() == true) {
                        var Data = new FormData($("#JsonForm")[0]);
                        $.ajax(
                            {
                                type: "POST",
                                url: "/Villages/EndEdit",
                                contentType: false,
                                processData: false,
                                data: Data,
                                success: function (result) {
                                    if (result.valid == true) {
                                        toastr.success(result.message);
                                        setTimeout(function () {
                                            window.location.href = "/Villages/VillageIndex";
                                        }, 700);
                                    }
                                    else {
                                        toastr.error('Error!' + result.message);
                                        setTimeout(function () {
                                            window.location.href = "";
                                        }, 700);
                                    }
                                }
                            });
                    }
                });
        });

        //Import Excel
        $("#ImportExcel").on("click", function () {
            $.get("/Members/FormImportMember", { "TransactionVillageId": $("#TransactionVillageId").val() }, function (FormResult) {
                $("#JsonImportForm").html(FormResult);
                $("#FormImport").modal("show");

                $("#JsonImportForm #Submit").click(function () {
                    let validate = false;
                    if ($('#FileUpload').get(0).files.length != 0) {
                        validate = true;
                    }
                    else {
                        $("#FormImport").modal("hide");
                        Swal.fire(
                            {
                                title: "ไม่มีไฟล์",
                                text: "กรุณาแนบไฟล์",
                                type: "error",
                                confirmButtonText: "เข้าใจแล้ว",
                                closeOnConfirm: false
                            });
                    }
                    if (validate) {
                        let Data = new FormData($("#JsonImportForm #JsonForm")[0]); JsonForm
                        $.ajax(
                            {
                                type: "POST",
                                url: "/Members/ImportMember",
                                contentType: false,
                                processData: false,
                                data: Data,
                                success: function (result) {
                                    if (result.valid == true) {
                                        toastr.success(result.message);
                                        setTimeout(function () {
                                            window.location.href = "";
                                        }, 700);
                                    }
                                    else {
                                        toastr.error('Error! ' + result.message);
                                        setTimeout(function () {

                                        }, 700);
                                    }
                                }
                            });
                    }
                });

            });
        });

    </script>

}
